<form action="/users/posts" method="POST" id="add_posts">
    <div class="new_user">    
    <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" value="" class="form-control" id="exampleFormControlInput1" placeholder="Add Title" required>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" name="content" value="" id="exampleFormControlTextarea1" rows="3" placeholder="Add Content" required></textarea>
        </div>
      </form>
      <div class="form-group">
          <button type="submit" class="btn text-light update"  style="background-color: peru;">Save</button>
      </div>
    </div>
</form>