<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter border-shadow">
                <a href="/users/dashboard"><i class="fas fa-angle-double-left"></i>All Posts</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Add New Post</h2>
            <span class="text-dark"> Use the below form to create a new account</span>
        </div>
        <%-include('partials/messages')%> 
        <!--form handling-->
            <%-include('partials/form')%>
        <!--form handling-->
    </div>
</main>
<!--Main Site-->