
    <div class="col-sm-15" style="width: 100%;" >
        <div class="card overflow-scroll card " style="margin: 2%;" >
          <div class="card-body ">
            <h4 class="card-title"><%=post.title%></h4>
            <h6 class="card-title"><%=post.name%></h6>
            <p class="card-text overflow-hidden h-25"><%=post.content%></p>
            <a href="/add_posts" class="btn btn-primary border-shadow update button">Like</a>
          </div>
        </div>
    </div>    
